@import "../../styles/variables.scss";


.Hero{
    height: 500px;
    width: 98vw;
    object-fit: cover;
    position: relative;


    img{
        height: 400px;
        width: 98vw;
        object-fit: cover;
    }

    .text {
        background-color: $brown-color;
        position: absolute;
        margin-top: 20px;
        position: absolute;
        cursor: pointer;
        width: 98vw;
        color: $white-color ;
    }
   ul{
     list-style-type: none ;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 10vw;
     list-style-type: none;
    }

   li {
    cursor: pointer;
   }


   li:hover{
    text-decoration: underline;
   }

   li:active{
    background-color: $white-color;
   }
 
}

