@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

//colors

$dark-color: rgb(1 5 7);
$white-color: #fbf9ec;
$brown-color-alpha:#4f3637a5;

//fonts

$primary-font:'Shadows Into Light', cursive;
$first-weight: 1.1rem;

//containers
$container-width: 500px;
$container-heigth: 300px;


$container-padding: 20px;


//ul
$list-style: none;
$list-display: flex;
$list-gap: 22vw;
$hover-underline: underline;



